<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.visual_programming.dao.CodeListDao">
    <select id="listQuestions" resultType="com.yc.visual_programming.pojo.code_list">
        select * from question_test;
    </select>
    <select id="listQuestionsByTitle" parameterType="String" resultType="com.yc.visual_programming.pojo.code_list">
        select * from question_test where title=#{name}
    </select>

</mapper>